<div>
  <div class="navbar"  >
     <div class="tab-1" [ngClass]="{'selector':show=='one'}"
     (click)='showTabOne()' >
    About me
  </div>
  
  <div  class="tab-2"[ngClass]="{'selector':show=='two'}"
  (click)='showTabTwo()' >
    Project
  </div>
  <div  class="tab-3" [ngClass]="{'selector':show=='three'}"
  (click)="showTabThree()">
    Contact
  </div>
  </div>
 
<div *ngIf="show=='one'">
<h2 class="Introduction">Introduction</h2>
<p class="paragraph">Iam {{name}} coming from {{place}}.I have a degree in {{qualification}} anad one year of experience as a {{job}}.Iam currently working as a intern at {{company}}</p>
</div>
<div *ngIf="show=='two'">
<div class="project-showcase">
  <div class="project-card">
    <img src="https://th.bing.com/th/id/OIP.nY2Fa57Qot38DS0iuFcs8QHaD9?w=340&h=181&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3"alt="Project Image" class="project-image">
    <h2 class="project-title">Angular Project</h2>
    <p class="project-description">
         Angular is a TypeScript-based front-end framework by Google for building single-page applications, featuring a component-based architecture, two-way data binding, directives like ngIf and ngFor, built-in routing, dependency injection, reactive forms, and a powerful CLI, offering faster development, reusable components, strong typing, and cross-platform support for web, mobile, and desktop applications    </p>
    <a href="http://localhost:50702/" class="project-button">View Project</a>
    
  </div>
</div>
</div>
<div  *ngIf="show=='three'">
<h1 style="text-align: center;">Contact Us</h1>
<div>
  <div class="input">
  <input type="text" placeholder="Name" [(ngModel)]="userName">
  <input type="text" placeholder="Email"[(ngModel)]="email">
  <textarea class="message-box" placeholder="Your Message" [(ngModel)]="message"></textarea>
</div>

<button (click)="sendMessage()" class="input">Send Message</button>
</div>
</div>


</div>
