.navbar{
      display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;

}
.tab-1 {
    float: left;
    font-size: 20px;
    width: 33.33%;
    
    cursor: pointer;
    text-align: center;
}

.tab-2 {
    float: left;
    font-size: 20px;
    width: 33.33%;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}

.tab-3 {
    float: left;
    font-size: 20px;
    width: 33.33%;
    cursor: pointer;
    text-align: center;
}
.selector{
    color: rgb(255, 0, 179);
    
}
.Introduction {
    display: flex;
    justify-content: center;
    align-items: center;      
    background-color: rgb(150, 4, 203);     
    color: rgb(233, 227, 227);           
    width: 120px;       
    margin: 20px auto;      
    padding: 10px;
    text-decoration: underline;
 
}

.paragraph {
    width: 400px;        
    margin: 0 auto;      
    text-align: justify;    
    line-height: 1.5;     
    padding: 10px;
    color: rgb(236, 91, 13);
    
}
.project-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
}



.project-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.project-title {
  margin: 15px 0 10px;
  font-size: 24px;
  color: #333;
}

.project-description {
  font-size: 16px;
  color: #555;
  margin: 0 0 15px 0; 
  text-align: justify;  
  line-height: 1.4;   
}


.project-button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.project-button:hover {
  background: #0056b3;
}

.input {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  width: 250px; 
  margin: 20px auto; 
    

}

.input input {
  padding: 10px;
  border: 1px solid #b30c12;
  border-radius: 25px; 
  font-size: 16px;
  outline: none;
  
}
.message-box {
  border-radius: 20px;      
  min-height: 100px;            
  resize: none;                 
  border: 1px solid #b30c12;  
  outline: none;
}

 button{
    margin: 10px auto 0; 
  padding: 10px;
  margin-left: 300px;
  border: none;
  border-radius: 25px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}



